<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="savePO()">
        Upload
      </ion-button>
    </ion-buttons>
    <ion-title> {{pageType}}-List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngFor="let toLine of toLineList,let i=index">
    <ion-card class="lineDetails" *ngIf="toHeader.CountNumber == toLine.headerCountNumber">
      <ion-card-header>
        <span class="iconPos">
          <ion-checkbox color="primary" mode="ios" [(ngModel)]="toLine.isSaved" [disabled]="toLine.btnDisable"
            [checked]="toLine.isSaved">
          </ion-checkbox>
        </span>
        <span style="width: 50%">
          <b><span>Id : {{toLine.ItemNo}}</span>
            <span style="margin-left: 15px;">UOM : {{toLine.UnitOfMeasure}}</span><br>
            {{toLine.qtyDesc}}</b>
        </span>
      </ion-card-header>
      <ion-card-content class="itemLineContent">

        <ion-item lines="none" class="ionItemInput">
          <ion-label text-left>Barcode</ion-label>
          <ion-label text-left> {{toLine.BarCode}} </ion-label>
        </ion-item>

        <ion-item lines="none" class="ionItemInput" *ngIf="role.OrderedQty">
          <ion-label text-left class="ion-text-wrap">Ordered Qty</ion-label>
          <ion-label text-left> {{toLine.Quantity}} </ion-label>
        </ion-item>

        <div *ngIf="pageType == 'Transfer-out'">
          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Qty To Ship</ion-label>
            <ion-input type="tel" style="text-align:left;" [(ngModel)]="toLine.inputQty" id="Recinput{{i}}"
              (keyup.enter)="onEnter(toLine)" (click)="clearQtyToRec(toLine)" [min]="0">
            </ion-input>

            <ion-button fill="clear" slots="end" item-right (click)="saveLine(toLine)">
              <ion-icon name="return-left"></ion-icon>
            </ion-button>

            <ion-button fill="clear" slots="end" item-right (click)="cancelBtn(toLine)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="role.ScannedQty">
            <ion-label text-left class="ion-text-wrap">Qty Scanned</ion-label>
            <ion-label text-left> {{toLine.QtyShipped}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="role.BalanceQty">
            <ion-label text-left class="ion-text-wrap">Balance</ion-label>
            <ion-label text-left> {{toLine.QtyToShip}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Excess Qty</ion-label>
            <ion-input type="tel" style="text-align:left;" [(ngModel)]="toLine.excesQty">
            </ion-input>
          </ion-item>
        </div>

        <div *ngIf="pageType =='Transfer-in'">
          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Qty To Receive</ion-label>
            <ion-input type="tel" style="text-align:left;" [(ngModel)]="toLine.inputQty" id="Recinput{{i}}"
              (keyup.enter)="onEnter(toLine)" (click)="clearQtyToRec(toLine)" [min]="0">
            </ion-input>

            <ion-button fill="clear" slots="end" item-right (click)="saveLine(toLine)">
              <ion-icon name="return-left"></ion-icon>
            </ion-button>

            <ion-button fill="clear" slots="end" item-right (click)="cancelBtn(toLine)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap" *ngIf="role.ScannedQty">Qty Scanned</ion-label>
            <ion-label text-left> {{toLine.QtyReceived}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap" *ngIf="role.BalanceQty">Balance</ion-label>
            <ion-label text-left> {{toLine.QtyToReceive}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Excess Qty</ion-label>
            <ion-input type="tel" style="text-align:left;" [(ngModel)]="toLine.excesQty">
            </ion-input>
          </ion-item>


        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>