<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{pageType}} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country">
    <i class="dropdown icon"></i>
    <div class="default text">Customer Name</div>
    <div class="menu" id="idDropDown">
      <div class="item" data-value="customer.CustAccount" (click)="customerSelected(customer)"
        *ngFor="let customer of customerList">{{customer.displayText}}</div>
    </div>
  </div>

  <div class="ui fluid search selection dropdown inputMargin">
    <input type="hidden" name="country">
    <i class="dropdown icon"></i>
    <div class="default text">SO No.</div>
    <div class="menu" id="idDropDown">
      <div class="item" data-value="sales.DocumentNo" (click)="soSelected(sales)"
        *ngFor="let sales of salesList">{{sales.DocumentNo}}</div>
    </div>
  </div>

  <!-- <ion-item class="ionItemInputSqr">
    <ion-label position="stacked">SO No.</ion-label>
    <ionic-selectable [(ngModel)]="selectedSalesTable" [items]="salesList" itemValueField="DocumentNo"
      itemTextField="DocumentNo" [canSearch]="true" (onChange)="soSelected()">
    </ionic-selectable>
  </ion-item> -->

  <ion-card *ngIf="selectedSalesTable.DocumentNo!=null">
    <ion-card-header>Sales Order Details</ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label text-left>Order Date</ion-label>
        <ion-label text-right> {{selectedSalesTable.DocumentDate | date: 'mediumDate'}} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <!-- [disabled]="selectedPurchOrder.PurchId==null" -->
  <ion-button expand="block" (click)="navigateToNext()"> Next </ion-button>
</ion-footer>