<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="savePO()">
        <ion-icon slot="icon-only" name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Receiving-Line</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="scanCard" color="primary">
    <ion-card-content class="padding">
      <ion-item lines="none" class="ionItemInput">
        <ion-input type="text" hideKeyboard #input id="barcodeInput" placeholder="Scan" autofocus="true"
          [(ngModel)]="barcode" (ionChange)="barcodeScan()" (ionFocus)="keyboardHide()" (click)="clearBarcode()">
        </ion-input>

        <ion-button fill="clear" slots="end" item-right (click)="clearBarcode()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="alert alert-warning">
        Total Scan Qty: {{scannedQty}}
      </div>
    </ion-card-content>
  </ion-card>


  <div *ngFor="let poLine of poLineList,let i=index">

    <!-- <div class="alert alert-warning" *ngIf="poLine.multiLine">
     This Item Has Multiple Line *ngIf="poLine.isVisible" *ngIf="poLine.isSaved"
    </div> -->
    <div *ngIf="poLine.isVisible">
      <ion-card class="lineDetails">
        <ion-card-header>
          <span class="iconPos">
            <ion-checkbox color="primary" mode="ios" [disabled]="poLine.btnDisable" [checked]="poLine.isSaved">
            </ion-checkbox>
          </span>
          <span (click)="toggleDetails(poLine,i)" style="width: 50%">
            <b><span>Id : {{poLine.ItemId}}</span>
              <span style="margin-left: 15px;">UOM : {{poLine.UnitId}}</span><br>
              Desc : {{poLine.qtyDesc}}</b>
          </span>
        </ion-card-header>
        <ion-card-content *ngIf="!poLine.toggle" class="itemLineContent">

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left>Barcode</ion-label>
            <ion-label text-left> {{poLine.BarCode}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left style="margin-right: 10%;" class="ion-text-wrap">Qty To Receive</ion-label>
            <ion-input type="number" style="text-align:left;" [(ngModel)]="poLine.QtyToReceive" id="Recinput{{i}}"
              (ionChange)="qtyRecCheck(poLine)" [max]="poLine.Qty" (keyup.enter)="onEnter(poLine)"
              (click)="clearQtyToRec(poLine)" [min]="0">
            </ion-input>
          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Ordered Qty</ion-label>
            <ion-label text-left> {{poLine.Qty}} </ion-label>
          </ion-item>


          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Qty Received</ion-label>
            <ion-label text-left> {{poLine.QtyReceived}} </ion-label>

          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Balance</ion-label>
            <ion-label text-left> {{poLine.balance}} </ion-label>

          </ion-item>

          <!-- <ion-item lines="none" class="ionItemInput twoItems">
            <ion-label position="stacked" class="disabledInput">Unit Amount</ion-label>
            <ion-input type="text" [disabled]="true" [(ngModel)]="poLine.UnitAmt"></ion-input>
          </ion-item>

          <ion-item lines="none" class="ionItemInput twoItems">
            <ion-label position="stacked" class="disabledInput">Net Amount</ion-label>
            <ion-input type="text" [disabled]="true" [(ngModel)]="poLine.NetAmt"></ion-input>
          </ion-item> -->
          <div style="margin-top:10px">
            <ion-button expand="block" class="twoBtn" (click)="saveLine(poLine)" [disabled]="poLine.btnDisable">Save
            </ion-button>
            <ion-button expand="block" color="light" class="twoBtn" (click)="cancelBtn(poLine)">Clear</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>