<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{pageType}}- List </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem()" [disabled]="!salesLineList.length">
        <ion-icon slot="icon-only" name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="salesLineList.length; else noItem">
    <div *ngFor="let salesDetails of salesLineList">
      <ion-card *ngIf="salesDetails.isSaved">
        <ion-card-header>
          <span style="width: 50%">
            <b>
              <span class="iconPos">
                <ion-checkbox color="primary" mode="ios" [(ngModel)]="salesDetails.isSaved"
                  [checked]="salesDetails.isSaved">
                </ion-checkbox>
              </span>
              <span>Id : {{salesDetails.ItemNumber}}</span>
              <span style="margin-left: 15px;">UOM : {{salesDetails.UnitOfMeasure}}</span><br>
              Desc : {{salesDetails.qtyDesc}}</b>
          </span>
        </ion-card-header>
        <ion-card-content class="itemLineContent">

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left>Barcode</ion-label>
            <ion-label text-left> {{salesDetails.BarCode}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="pageType == 'Sales-Order'">
            <ion-label text-left style="margin-right: 10%;" class="ion-text-wrap">Qty To Ship</ion-label>
            <ion-input type="number" style="text-align:left;" [(ngModel)]="salesDetails.inputQty" #Recinput id="Recinput"
              (keyup.enter)="onEnter(salesDetails)" (click)="clearQtyToRec(salesDetails)" [min]="0">
            </ion-input>

            <ion-button fill="clear" slots="end" item-right (click)="saveLine(salesDetails)"
              [disabled]="salesDetails.btnDisable">
              <ion-icon name="return-left"></ion-icon>
            </ion-button>

            <ion-button fill="clear" slots="end" item-right (click)="cancelBtn(salesDetails)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="pageType =='Sales-Return'">
            <ion-label text-left style="margin-right: 10%;" class="ion-text-wrap">Qty To Rec</ion-label>
            <ion-input type="number" style="text-align:left;" [(ngModel)]="salesDetails.inputQty" #Recinput id="Recinput"
              (keyup.enter)="onEnter(salesDetails)" (click)="clearQtyToRec(salesDetails)" [min]="0">
            </ion-input>

            <ion-button fill="clear" slots="end" item-right (click)="saveLine(salesDetails)"
              [disabled]="salesDetails.btnDisable">
              <ion-icon name="return-left"></ion-icon>
            </ion-button>

            <ion-button fill="clear" slots="end" item-right (click)="cancelBtn(salesDetails)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item lines="none" class="ionItemInput">
            <ion-label text-left class="ion-text-wrap">Ordered Qty</ion-label>
            <ion-label text-left> {{salesDetails.Quantity  | mod}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="pageType == 'Sales-Order'">
            <ion-label text-left class="ion-text-wrap">Qty Shipped</ion-label>
            <ion-label text-left> {{salesDetails.QtyShipped  | mod}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="pageType =='Sales-Return'">
            <ion-label text-left class="ion-text-wrap">Qty Received</ion-label>
            <ion-label text-left> {{salesDetails.QtyReceived }} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="pageType == 'Sales-Order'">
            <ion-label text-left class="ion-text-wrap">Balance</ion-label>
            <ion-label text-left> {{salesDetails.QtyToShip  | mod}} </ion-label>
          </ion-item>

          <ion-item lines="none" class="ionItemInput" *ngIf="pageType =='Sales-Return'">
            <ion-label text-left class="ion-text-wrap">Balance</ion-label>
            <ion-label text-left> {{salesDetails.QtyToReceive  | mod}} </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ng-template #noItem>
    <div class="alert alert-warning">
      All item saved, Scan new Item
    </div>
  </ng-template>
</ion-content>