<ion-content padding style="margin-top: 10%">
  <div>
    <div style="text-align:center; margin-top: 20px;">
      <img src="./assets/imgs/steeplelogo.jpg" style="height: 13vh;" />
    </div>
    <div>
      <ion-item lines="none" class="ionItemInput inputMargin">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input type="text"  placeholder="User name" [(ngModel)]="userId"></ion-input>
      </ion-item>


      <ion-item lines="none" class="ionItemInput inputMargin">
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>


      <ion-item lines="none" class="ionItemInput inputMargin">
        <ion-label position="stacked">Legal Entity</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="selectedInventory" (ionChange)="legalEntitySelected()">
          <ion-select-option *ngFor="let inventLocation of inventList" [value]="inventLocation">
            {{inventLocation.DataAreaId}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="ionItemInput inputMargin">
        <ion-label position="stacked">Warehouse</ion-label>
        <ionic-selectable [(ngModel)]="selectedWarehouse" [items]="warehouseList" itemValueField="LocationId"
          itemTextField="Name" [canSearch]="true">
        </ionic-selectable>
      </ion-item>

      <!-- <ion-item lines="none" class="ionItemInput inputMargin">
        <ion-label position="stacked">Warehouse</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="selectedWarehouse">
          <ion-select-option *ngFor="let warehouse of warehouseList" [value]="warehouse"> {{warehouse.Name}}
          </ion-select-option>
        </ion-select>
      </ion-item> -->



      <ion-button expand="block" (click)="logIn()">Login</ion-button>
      <!-- <div class="loginBtn">
        <div class="twoItems">
          <ion-button expand="block" (click)="logIn()">Login</ion-button>
        </div>
        <div class="twoItems" style="margin-left:2px;">
          <ion-button expand="block">Cancel</ion-button>
        </div>
      </div> -->
    </div>
  </div>
</ion-content>