<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Stock Count List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem()" [disabled]="!itemList.length">
        <ion-icon slot="icon-only" name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="itemList.length; else noItem">
    <ion-virtual-scroll [items]="itemList">
      <ion-list *virtualItem="let item; let i=index">
        <ion-card *ngIf="item.isSaved">
          <ion-card-header>
            <span class="iconPos">
              <ion-icon name="close" (click)="deleteLine(item,i)"></ion-icon>
            </span>
            <b> Id : {{item.ItemId}}
              <span style="margin-left: 15px;"> UOM : {{item.Unit}}</span>
            </b>
            <br> {{item.Description}}
          </ion-card-header>

          <ion-card-content>
            <ion-item lines="none" class="ionItemInput">
              <ion-label text-left>Barcode</ion-label>
              <ion-label text-left> {{item.BarCode}} </ion-label>
            </ion-item>

            <ion-item lines="none" class="ionItemInput" (click)="presentAlertForItem(item)">
              <ion-label text-left class="ion-text-wrap">Quantity</ion-label>
              <ion-label text-left> {{item.quantity}} </ion-label>
              <!-- <ion-input type="number" style="text-align:left;" [(ngModel)]="item.quantity" id="qtyInput" min="0"
                max="9999" (ionChange)="qtyCheck(item)">
              </ion-input> -->
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-virtual-scroll>
  </div>

  <div class="ui modal" style="height: 55vh;">
    <i class="icon close"></i>
    <div class="header">
      Item Details
    </div>
    <div class="content">
      <div class="description">
        <div class="ui header">
          {{selectedItem.Description}}
        </div>
        <p>
          Id : {{selectedItem.ItemId}}
          <span style="margin-left: 5px"> UOM : {{selectedItem.Unit}}</span>
        </p>
        <div class="ui labeled input">
          <div class="ui label">
            Qty
          </div>
          <input type="number" [(ngModel)]="selectedItem.quantity" (ionChange)="qtyCheck(selectedItem)"
            (keyup.enter)="onEnter(selectedItem)">
        </div>
        <div class="ui red message" *ngIf="errMsg">
          {{errMsg}}
        </div>

        <div class="ui labeled input inputMargin">
          <div class="ui label">
            Barcode
          </div>
          <input type="number" [(ngModel)]="selectedItem.BarCode" [disabled]="true">
        </div>
      </div>
    </div>
  </div>

  <ng-template #noItem>
    <div class="alert alert-warning">
      All item saved, Scan new Item
    </div>
  </ng-template>
</ion-content>