<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logoff()">
        <ion-icon slot="icon-only" name="document" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="alert alert-warning">
    {{dataAreadId}} - {{location.LocationId}}
  </div>
  <ion-item lines="none">
    <ion-label [routerLink]="['/purchase']" *ngIf="userRole.Admin || userRole.Purchase">
      <img src="./assets/imgs/purchase.png">
      <p>Purchase</p>
    </ion-label>
    <ion-label [routerLink]="['/sales']" *ngIf="userRole.Admin || userRole.Sales">
      <img src="./assets/imgs/Picking2.jpg">
      <p>Sales</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label [routerLink]="['/transfer']" *ngIf="userRole.Admin || userRole.Transfer">
      <img src="./assets/imgs/Receiving-2.jpg">
      <p text-wrap text-left>Transfer</p>
    </ion-label>

    <ion-label [routerLink]="['/stock-count']" *ngIf="userRole.Admin || userRole.StockCount">
      <img src="./assets/imgs/stockCount.jpg">
      <p>Stock Count</p>
    </ion-label>

  </ion-item>

  <ion-item lines="none">
    <ion-label [routerLink]="['/inventory']" *ngIf="userRole.Admin || userRole.InvenoryAdj">
      <img src="./assets/imgs/Print Labels.png">
      <p>Inventory Adj</p>
    </ion-label>

    <ion-label [routerLink]="['/item-information']">
      <img src="./assets/imgs/Item Information.jpg">
      <p>Item Info</p>
    </ion-label>

  </ion-item>

</ion-content>