<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="savePO()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Return-Line</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="scanCard" color="primary">
    <ion-card-content>
      <ion-item lines="none" class="ionItemInput">
        <ion-input type="text" #input hideKeyboard id="barcodeInput" placeholder="Scan" autofocus="true"
          [(ngModel)]="barcode" (ionChange)="barcodeScan()" (ionFocus)="keyboardHide()" (click)="clearBarcode()">
        </ion-input>

        <ion-button fill="clear" slots="end" item-right (click)="clearBarcode()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <div *ngFor="let poLine of poLineList,let i=index" style="padding-top: 5px;">
    <!-- <div class="alert alert-warning" *ngIf="poLine.multiLine">
      This Item Has Multiple Line
    </div> -->
    <ion-card class="lineDetails" *ngIf="poLine.isVisible">
      <ion-card-header (click)="toggleDetails(poLine)">
        Item Id <b>{{poLine.ItemId}}</b> UOM : {{poLine.UnitId}}
        <span class="iconPos" *ngIf="poLine.isSaved">
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
      </ion-card-header>
      <ion-card-content *ngIf="!poLine.toggle" class="itemLineContent">

        <ion-item lines="none" class="ionItemInput">
          <ion-label position="stacked" class="disabledInput">Barcode</ion-label>
          <ion-input type="number" [disabled]="true" [(ngModel)]="poLine.BarCode"></ion-input>
        </ion-item>

        <ion-item lines="none" class="ionItemInput twoItems">
          <ion-label position="stacked" class="disabledInput">Returned Qty</ion-label>
          <ion-input type="number" [disabled]="true" [(ngModel)]="poLine.Qty"></ion-input>
        </ion-item>

        <ion-item lines="none" class="ionItemInput twoItems">
          <ion-label position="stacked">Qty To Return</ion-label>
          <ion-input type="number" [(ngModel)]="poLine.QtyToReceive" #input1 id="po{{i}}"
            (ionChange)="qtyRecCheck(poLine)" (keyup.enter)="onEnter(poLine)" [max]="poLine.Qty" [min]="0"></ion-input>
        </ion-item>



        <ion-item lines="none" class="ionItemInput twoItems">
          <ion-label position="stacked" class="disabledInput">Qty Returned</ion-label>
          <ion-input type="number" [(ngModel)]="poLine.QtyReceived" [disabled]="true" [max]="poLine.Qty" [min]="0">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="ionItemInput twoItems">
          <ion-label position="stacked">Balance</ion-label>
          <ion-input type="number" [(ngModel)]="poLine.balance" [readonly]="true"></ion-input>
        </ion-item>

        <ion-item lines="none" class="ionItemInput twoItems">
          <ion-label position="stacked" class="disabledInput">Unit Amount</ion-label>
          <ion-input type="text" [disabled]="true" [(ngModel)]="poLine.UnitAmt"></ion-input>
        </ion-item>

        <ion-item lines="none" class="ionItemInput twoItems">
          <ion-label position="stacked" class="disabledInput">Net Amount</ion-label>
          <ion-input type="text" [disabled]="true" [(ngModel)]="poLine.NetAmt"></ion-input>
        </ion-item>


        <ion-button expand="full" (click)="saveLine(poLine)" [disabled]="poLine.btnDisable">Save Line</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>