<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>
      <img src="./assets/imgs/Purchase Order.png">
      <p text-wrap text-left>Transfer In</p>
    </ion-label>
    <ion-label>
      <img src="./assets/imgs/Transfer Order.jpg">
      <p text-wrap text-left>Transfer Out</p>
    </ion-label>
  </ion-item>
</ion-content>