<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Receiving</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item class="ionItemInputSqr">
    <ion-label position="stacked">Vendor Name</ion-label>
    <ionic-selectable [(ngModel)]="selectedVendor" [items]="vendorList" itemValueField="VendAccount"
      itemTextField="Name" [canSearch]="true" (onChange)="vendorSelected($event)">
    </ionic-selectable>
  </ion-item>

  <ion-item class="ionItemInputSqr">
    <ion-label position="stacked">PO No.</ion-label>
    <ionic-selectable [(ngModel)]="selectedPurchOrder" [items]="purchaseList" itemValueField="PurchId"
      itemTextField="PurchId" [canSearch]="true">
    </ionic-selectable>
  </ion-item>

  <ion-card *ngIf="selectedPurchOrder.PurchId!=null">
    <ion-card-header>Purchase Order Details</ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label text-left>Order Date</ion-label>
        <ion-label text-right> {{selectedPurchOrder.OrderDate | date: 'mediumDate'}} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
    <!-- [disabled]="selectedPurchOrder.PurchId==null" -->
  <ion-button expand="block" (click)="navigateToNext()">Next</ion-button>
</ion-footer>