<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{pageType}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="pageType =='Transfer-in'">

    <!-- <div class="ui fluid search selection dropdown">
      <input type="hidden" name="country">
      <i class="dropdown icon"></i>
      <div class="default text">From</div>
      <div class="menu" id="idDropDown">
        <div class="item" data-value="warehouse.LocationId" (click)="fromListSelected(warehouse)"
        *ngFor="let warehouse of warehouseList">
          {{warehouse.Name}}</div>
      </div>
    </div> -->


    <ion-item lines="none" class="ionItemInput">
      <ion-label position="stacked">From</ion-label>
      <ionic-selectable [(ngModel)]="fromWarehouse" [items]="warehouseList" itemValueField="LocationId"
        itemTextField="Name" [canSearch]="true" (onChange)="fromListSelected()">
      </ionic-selectable>
    </ion-item>

    <ion-item lines="none" class="ionItemInput">
      <ion-label position="stacked" class="disabledInput">To</ion-label>
      <ion-input type="text" [(ngModel)]="currentLoc.Name" [disabled]="true"></ion-input>
    </ion-item>


    <ion-item lines="none" class="ionItemInput">
      <ion-label position="stacked">Transfer Order No.</ion-label>
      <ionic-selectable [(ngModel)]="selectedTrans" [items]="transOrderList" itemValueField="JournalId"
        itemTextField="JournalId" [canSearch]="true">
      </ionic-selectable>
    </ion-item>

    <ion-item lines="none" class="ionItemInput">
      <ion-label>Shipment Date</ion-label>
      <ion-label> {{selectedTrans.ReceiveDate | date: 'mediumDate'}} </ion-label>
    </ion-item>
  </div>

  <!--  -->
  <div *ngIf="pageType =='Transfer-out'">
    <ion-item lines="none" class="ionItemInput">
      <ion-label position="stacked" class="disabledInput">From</ion-label>
      <ion-input type="text" [(ngModel)]="currentLoc.Name" [disabled]="true"></ion-input>
    </ion-item>


    <ion-item lines="none" class="ionItemInput">
      <ion-label position="stacked">To</ion-label>
      <ionic-selectable [(ngModel)]="toWarehouse" [items]="warehouseList" itemValueField="LocationId"
        itemTextField="Name" [canSearch]="true" (onChange)="ToListSelected()">
      </ionic-selectable>
    </ion-item>


    <ion-item lines="none" class="ionItemInput">
      <ion-label position="stacked">Transfer Order No.</ion-label>
      <ionic-selectable [(ngModel)]="selectedTrans" [items]="transOrderList" itemValueField="JournalId"
        itemTextField="JournalId" [canSearch]="true" (onChange)="toSelected()">
      </ionic-selectable>
    </ion-item>

    <ion-item lines="none" class="ionItemInput">
      <ion-label>Shipment Date</ion-label>
      <ion-label> {{selectedTrans.ReceiveDate | date: 'mediumDate'}} </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <!-- [disabled]="selectedPurchOrder.PurchId==null" -->
  <ion-button expand="block" (click)="navigateToNext()">Next</ion-button>
</ion-footer>