<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{pageType}} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="ui fluid search selection dropdown">
    <!-- <input type="hidden" name="country"> -->
    <i class="dropdown icon"></i>
    <div class="default text">Vendor Name</div>
    <div class="menu" id="idDropDown">
      <div class="item" data-value="vendor.VendAccount" (click)="vendorSelected(vendor)"
        *ngFor="let vendor of vendorList">{{vendor.displayText}}</div>
    </div>
  </div>

  <div class="ui fluid search selection dropdown inputMargin">
    <input type="hidden" name="country">
    <i class="dropdown icon"></i>
    <div class="default text">Po No.</div>
    <div class="menu" id="idDropDown">
      <div class="item" data-value="po.PurchId" (click)="poSelected(po)" *ngFor="let po of purchaseList">
        {{po.PurchId}}</div>
    </div>
  </div>

  <!-- <div class="ui fluid icon input inputMargin">
    <input type="text" [(ngModel)]="poNo" placeholder="Scan By Po No">
    <div class="ui button" (click)="getVendorByPO()">Search</div>
  </div> -->

  <ion-card *ngIf="selectedPurchOrder.PurchId!=null">
    <ion-card-header>Purchase Order Details</ion-card-header>
    <ion-card-content>


      <ion-item lines="none">
        <ion-label text-left>Order Date</ion-label>
        <ion-label text-right> {{selectedPurchOrder.OrderDate | date: 'mediumDate'}} </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label text-left>Invoice No</ion-label>
        <ion-input type="text" style="text-align:right;" placeholder="Enter Invoice" [(ngModel)]="selectedPurchOrder.InvoiceId">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label text-left>Invoice Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="selectedPurchOrder.InvoiceDate"
          placeholder="Select Date"></ion-datetime>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <!-- [disabled]="selectedPurchOrder.PurchId==null" -->
  <!-- [disabled]="!selectedPurchOrder.InvoiceId" -->
  <ion-button expand="block" (click)="navigateToNext()"> Next </ion-button>
</ion-footer>