
.ionItemInputSqr:not(:first-child){
    margin-top: 5%;
    --border-width: 2px 2px 2px 2px !important;
    --border-style: solid !important;
  }
  .ionItemInputSqr:first-child{
      --padding: 0px !important;
      --border-width: 2px 2px 2px 2px !important;
      --border-style: solid !important;
  }
.ionItemInputSqr > ion-label{
    margin-left: 0px;
}
.barcode{
    --min-height: 0px !important;
}